<div class="form-group" style="width: 70%;">
<%= form_for([@activity, @activity.filees.build], html: { multipart: true }) do |f| %>

    <!--<%= f.label :name %>-->
    <%= f.text_field :name, :class => 'form-control', placeholder: "Name" %>
    <%= f.file_field :attachment, :class => 'btn' %>
    <p>
      <%= f.submit "Save", :class => 'btn btn-success' %>
    </p>
<% end %>
</div>
