<div class="text-center">
<%= form_for @activity do |f| %>

    <% if @activity.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@activity.errors.count, "error") %> appears:
          </h2>

          <p>
            <% @activity.errors.full_messages.each do |msg| %>
                <span class="label label-danger"><%= msg %></span>
            <% end %>
          </p>

        </div>
    <% end %>
<div class="form-group cen text-center" style="width: 50%;">
    <p>
      <%= f.label :Name %><br>
      <%= f.text_field :title, :class => 'form-control' %>
    </p>

    <p>
      <%= f.label :Description %><br>
      <%= f.text_area :description, :class => 'form-control' %>
    </p>

    <p>
      <%= f.submit "Save", :class => 'btn btn-success' %>
    </p>

  </div>
  <% end %>
  <h3 style="text-align: left;"><%= link_to 'Back', :back, :class => 'btn btn-default' %></h3>
