
<h1>Lista activities</h1>
<h3><span class="label label-default"><%= link_to 'New activity', new_activity_path, class:"" %></span></h3>


<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th>Options</th>
    <th></th>
  </tr>
  <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.title %></td>
        <td><%= activity.description %></td>
        <td><%= link_to 'Notes', activity_path(activity) %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Remove', activity_path(activity),
                        method: :delete,
                        data: { confirm: 'You sure?' } %></td>
      </tr>
  <% end %>
</table>