<div class="well text-center">
  <h1>
    <%= @activity.title %>
    <%= link_to '', edit_activity_path(@activity), class: "edit fa fa-pencil" %>
    <%= link_to '', activity_path(@activity),
                    method: :delete,
                    data: { confirm: 'Are you sure to delete "' + @activity.title + '"?' }, :class => 'red fa fa-remove' %>
  </h1>

  <h5>
    <%= @activity.description %>
  </h5>
</div>
<div class="container text-center">
<div class="row">
  <div class="text-center">
    <div class="left col-md-4 col-sm-12">
      <h2 class="text-center">Files</h2>
      <ul>
    <% @all_files.each do |filee| %>
        <li><%= link_to filee.name, filee.attachment_url, class: "path" %>
          <%= link_to '', [filee.activity, filee],
          method: :delete,
          data: { confirm: 'Are you sure to delete "' + filee.name + '"?' }, :class => 'red-small fa fa-remove' %></li>
    <% end %>
    <%= render 'filees/form' %>
  </ul>
  </div>
  <div class="col-md-8 col-sm-12">
    <h2 class="left">Notes&nbsp; <%= link_to '', new_activity_note_path(@activity), class:"green fa fa-plus-square" %></h2>
    <div class="row">
      <% @activity.notes.each do |note| %>
          <div class="col-md-3">
            <div class="panel panel-default">

            <strong>Title</strong>
              <div class="panel-heading"><%= note.title %></div>


            <strong>Note:</strong>
              <div class="panel-body"><%= note.annotation %></div>



              <div class="panel-footer">
                              <%= link_to '', edit_activity_note_path(@activity,note), class: "edit fa fa-pencil" %>
                              <%= link_to '', [note.activity, note],
                              method: :delete,
                              data: { confirm: 'Are you sure to delete "' + note.title + '"?' }, :class => 'red fa fa-remove' %></div>
            </div>
          </div>
      <% end %>
    </div>
</div>
    <h3 style="text-align: left;"><%= link_to 'Back', :back, :class => 'btn btn-default' %></h3>

  </div>
</div>
</div>