<!DOCTYPE html>
<html>
  <head>
    <title>NoteManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
      body{
        margin: 0;
        background: #FFFFFF url("http://img04.deviantart.net/39e0/i/2010/150/f/b/it__s_wood_by_niklask.jpg") no-repeat;
        background-position: top;
        background-size: 100% 100%;
        background-attachment: fixed;
        height: 100%;
        width: 100%;
      }
    </style>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <div class="container text-center" style="background:rgba(255,255,255, 0.8);">
      <%= yield %>
    </div>
  </body>
</html>
